name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs : 
  build-test:
    runs-on: ubuntu-latest

  if: {{github.event_name == 'pull_request'}} || {{github.event_name == 'push'}}
  steps:

    - name: Checkout code
      uses: actions/checkout@v2

    # - name : Docker Build
    # run: docker build -t tcp_scanner .

    - name : CMake build 
      run : |
        mkdir build
        cd build
        cmake ..
        cmake --build .
    - name: Run Tests
      run: |
        cd build
        ctest --output-on-failure
  deploy:
    runs-on: ubuntu-latest
    needs: build-test
    if: github.event_name == 'push'
    steps:
      - name: Checkout code
        uses: actions/checkout

      - name: Deploy Application
        run: |
          echo "Deploying application..."
          # Add your deployment commands here
          # For example, you might use scp to copy files to a server
          # scp -r ./build user@server:/path/to/deploy
          echo "Deployment complete."
